<div id="twic-mode-container">
  <TwicWrapper gitHubUrl="src/views/TwicMode.vue">
    <TwicAbstract title="mode property">
      <p>
        <strong>
          The
          <dfn>mode</dfn>&nbsp; property determines if the image fills or sits
          inside the area.
        </strong>
      </p>
      <p>Here are the two accepted values:</p>
      <ul>
        <li>
          <Code>cover</Code>:<span>
            the image fills the area and is cropped accordingly.</span
          >
        </li>
        <li>
          <Code>contain</Code>:<span>
            the image sits inside the area with no cropping.</span
          >
        </li>
      </ul>
    </TwicAbstract>
    <div class="twic-grid">
      <div class="twic-item">
        <button class="twic-button" (click)="changeMode()">
          Click to change the mode value
        </button>
        <TwicImg
          [src]="urlValues[indiceConfig]"
          [mode]="config[indiceConfig]"
        ></TwicImg>
        <span>
          <Code>mode="{{ config[indiceConfig] }}"</Code>
        </span>
      </div>
      <div class="twic-item">
        <TwicImg [src]="urlValues[0]"></TwicImg>
        <span> No mode set (<Code>cover</Code>by default) </span>
      </div>
      <div class="twic-item">
        <TwicImg [src]="urlValues[0]" mode="cover"></TwicImg>
        <span>
          <Code>mode="cover"</Code>
        </span>
      </div>
      <div class="twic-item">
        <TwicImg [src]="urlValues[0]" mode="contain"></TwicImg>
        <span>
          <Code>mode="contain"</Code>
        </span>
      </div>
    </div>
  </TwicWrapper>
</div>
