<div id="twic-slideshow-container">
  <TwicWrapper filename="src/app/twic-slideshow/twic-slideshow.component.html">
    <TwicAbstract title="A Picture Carousel">
      <p>
        Use TwicPics for automatic lazy-loading, CLS optimization and art
        directions adaptation.
      </p>
      <p>
        Monitor the&nbsp;
        <a href="/state" target="_blank" rel="noreferrer">loading status</a>
        &nbsp; of your media with<Code>onStateChange</Code>callback property.
      </p>
      <p>
        <strong>Change the width of your browser</strong> to see the image
        aspect-ratio adapt according to the CSS rules.
      </p>
    </TwicAbstract>
    <div class="slideshow-container">
      <Slideshow [images]="images"></Slideshow>
    </div>
  </TwicWrapper>
</div>
